<<<<<<< HEAD

=======
>>>>>>> 1128fdfcda7eb849a5bb998630ee1c410bd7a1d8
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
<<<<<<< HEAD
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
=======
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
>>>>>>> 1128fdfcda7eb849a5bb998630ee1c410bd7a1d8
}
